<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="utf-8"/>
    <title>SuperShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="card-title mt-2">Продукт [[ ${product.title} ]]</h2>
    <div class="row justify-content-center">
        <div class="col form-group">
            <img th:if="${product.images.size() > 0}" width="100px" height="100px"
                 th:src="@{'/products/image/' + ${product.id}}">
            <label>Цена:</label>
            <output type="number">[[ ${product.getPrice()} ]]</output>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Описание: </label>
                <output> [[ ${product.description} ]]</output>
            </div>
        </div>

    </div>
</div>

</body>
</html>